:root {
  --logo-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --white: #ffffff;
  --footer-nav: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --our-team-background-color: #f5f4fa;
}
